# ansible-test / ansible-lint generated artifacts
.ansible/
tests/output/

# Built collection artifacts
dist/
*.tar.gz

# Python artifacts
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/
.mypy_cache/
